
:root.theme-dark {
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-decor_text-color: #000028;
  --section-title-color: #FF0070;
  --button-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --corners-color: #FF0070;
  --bg-color: #000028;
}

.theme-dark .page {
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
}

.theme-dark .header__bulb {
  display: block;
}