:root.theme-light {
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-decor-text-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --corners-color: #353430;
  --bg-color: #ffeef6;
}

.theme-light .page {
  background-image: var(--bg-image, url("../images/cover-image-light.png"));
  
}

.theme-light .header__bulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-decor-text-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --corners-color: #353430;
    --bg-color: #ffeef6;   
  }

  .header__bulb {
    display: none;
  }
}